<!-- This is our base template. We use it in all our other templates. This
means that we can put all of our styling and JavaScript in just one file and
make sure that everything looks visiually consistent -->

<html>
<head>
  <!--
  This is our first block, it allows sub-templates to replace this value
  with one that makes sense for them
  -->
  <title>{% block title %}{% endblock %}</title>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'firstapp/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'firstapp/jquery-ui.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'firstapp/jquery-ui.structure.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'firstapp/jquery-ui.theme.min.css' %}" />
  <script src="{% static 'firstapp/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'firstapp/jquery-ui.min.js' %}"></script>
  <script src="{% static 'firstapp/script.js' %}"></script>

</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
